---
import '@fontsource/quattrocento-sans'
import Grant from '../assets/banner.jpg'
import Navbar from '../components/Navbar/Navbar.astro'
import Taskbar from '../components/Taskbar/Taskbar'
import '../styles/tailwind.css'

import aaronThompson from '../assets/aaron-thompson.webp'
import billPratt from '../assets/bill-pratt.webp'
import coachFleming from '../assets/coach-fleming.webp'
import coachWentworth from '../assets/coach-wentworth.webp'
import mikeGoldman from '../assets/mike-goldman.webp'
import scottKopp from '../assets/scott-kopp.webp'
import tomDavis from '../assets/tom-davis.webp'
---

<html lang="en" class="flex">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Mounds View High School, Cross Country, Track and Field, Coaches for track and cross country, distance, sprints, hurdles, jumps; Coach Fleming"
        />
        <link rel="icon" href="/MoundsViewXC/favicon.ico" sizes="any" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/MoundsViewXC/favicon.svg"
            sizes="any"
        />
        <link rel="apple-touch-icon" href="/MoundsViewXC/favicon.svg" />
        <style>
            html,
            body {
                font-family: Montserrat;
                margin: 0;
            }

            p {
                overflow-wrap: break-word;
                font-size: 0.75rem;
            }
        </style>
        <title>Mounds View XC</title>
    </head>
    <body class="flex justify-center w-screen bg-neutral-700">
        <main class="flex flex-col justify-center">
            <Navbar />
            <img src={Grant} alt="homepage-background" width="100%" />
            <div
                id="background"
                class="flex-col text-slate-50 pb-8 w-11/12 lg:w-7/12 self-center"
            >
                <div
                    class="grid grid-cols-2 gap-6 md:gap-y-6 md:gap-x-16 auto-cols-auto my-8"
                >
                    <div class="col-span-1">
                        <img
                            src={coachFleming}
                            alt="coach fleming"
                            object-fit="contain"
                            class="ml-auto"
                            height="100%"
                        />
                    </div>
                    <div class="col-span-1">
                        <p class="md:text-base">
                            Head Track and Cross Country Coach
                        </p><p>ross.fleming@moundsviewschools.org</p>
                    </div>
                    <div class="col-span-1">
                        <img
                            src={coachWentworth}
                            alt="coach wentworth"
                            object-fit="contain"
                            class="ml-auto"
                            height="100%"
                        />
                    </div>
                    <div class="col-span-1">
                        <p class="md:text-base">
                            Assistant cross country and JV distance track coach
                        </p>
                    </div>
                    <div class="col-span-1">
                        <img
                            src={tomDavis}
                            alt="coach davis"
                            object-fit="contain"
                            class="ml-auto"
                            height="100%"
                        />
                    </div>
                    <div class="col-span-1">
                        <p class="md:text-base">Tom Davis</p><p>Throws</p><p>
                            tom.davis@moundsviewschools.org
                        </p>
                    </div>
                    <div class="col-span-1">
                        <img
                            src={billPratt}
                            alt="bill pratt"
                            object-fit="contain"
                            class="ml-auto"
                            height="100%"
                        />
                    </div>
                    <div class="col-span-1">
                        <p class="md:text-base">Bill Pratt</p>
                        <p>Mid-Distance</p><p>wilfredapratt@gmail.com</p>
                    </div>
                    <div class="col-span-1">
                        <img
                            src={scottKopp}
                            alt="scott kopp"
                            object-fit="contain"
                            class="ml-auto"
                            height="100%"
                        />
                    </div>
                    <div class="col-span-1">
                        <p class="md:text-base">Scott Kopp</p>
                        <p>Jumps</p>
                        <p>skopp713@gmail.com</p>
                    </div>
                    <div class="col-span-1">
                        <img
                            src={mikeGoldman}
                            alt="mikeGoldman"
                            object-fit="contain"
                            class="ml-auto"
                            height="100%"
                        />
                    </div>
                    <div class="col-span-1">
                        <p class="md:text-base">Mike Goldman</p>
                        <p>Long sprints and hurdles</p>
                        <p>miko1@visi.com</p>
                    </div>
                    <div class="col-span-1">
                        <img
                            src={aaronThompson}
                            alt="aaronThompson"
                            object-fit="contain"
                            class="ml-auto"
                            height="100%"
                        />
                    </div>
                    <div class="col-span-1">
                        <p class="md:text-base">Aaron Thompson</p>
                        <p>
                            Assistant cross country and JV distance track coach
                        </p>
                        <p>moundsviewxc@gmail.com</p>
                    </div>
                </div>
            </div>
            <!-- <div
                class="flex static bottom-0 right-0 left-0 w-screen justify-center p-1"
            >
                <img
                    src={Logo}
                    height="100"
                    width="100"
                    alt="MV Logo"
                    class="hidden md:flex mb-8 max-h-24 self-center justify-self-center"
                />
            </div> -->

            <Taskbar client:load />
        </main>
    </body>
</html>
