---
import '@fontsource/quattrocento-sans'
import BannerSmall from '../assets/banner-small.webp'
import BannerMedium from '../assets/banner-medium.webp'
import BannerLarge from '../assets/banner-large.webp'
import BannerXLarge from '../assets/banner-xlarge.webp'
import Logo from '../assets/favicon.svg'
import Carousel from '../components/Carousel/Carousel'
import Navbar from '../components/Navbar/Navbar.astro'
import Taskbar from '../components/Taskbar/Taskbar'
import '../styles/tailwind.css'
---

<html lang="en" class="flex">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Mounds View High School's Boys Cross Country and Track & Field Website"
        />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
        <link rel="apple-touch-icon" href="/favicon.svg" />
        <style>
            html {
                font-family: Montserrat;
                margin: 0;
            }
            body {
                font-family: Montserrat;
                margin: 0;
                min-height: 100vh;
            }

            a {
                color: rgb(34 197 94);
            }
        </style>
        <title>Mounds View XC</title>
    </head>
    <body class="flex justify-center w-screen bg-neutral-700">
        <main class="flex flex-col justify-center grow-1">
            <Navbar />
            <div class="relative">
                <img
                    srcset={`${BannerSmall} 400w, ${BannerMedium} 800w, ${BannerLarge} 1200w, ${BannerXLarge} 1600w`}
                    sizes="(max-width: 401px) 400px, (max-width: 801px) 800px, (max-width: 1201px): 1200px, 1600px"
                    src={BannerLarge}
                    object-fit="cover"
                    alt="homepage-background"
                    width="100%"
                    style={{ maxHeight: '400px' }}
                />
                <h1
                    class="absolute text-xs md:text-xl right-10 bottom-4 md:bottom-6 font-bold"
                >
                    A tradition of Excellence
                </h1>
            </div>

            <div id="background" class="flex-col text-slate-50 pb-8">
                <section class="flex justify-center my-8">
                    <div
                        class="flex flex-col md:w-10/12 lg:w-8/12 xl:w-6/12 border-2 border-white rounded px-4 py-2 m-1"
                    >
                        <h1 class="text-xl self-center">Updates</h1>
                        <div class="grid grid-cols-4 gap-4 auto-cols-auto">
                            <!-- Update 1 -->
                            <div class="text-sm">Wednesday, May 17, 2023</div>
                            <div class="col-span-3 text-sm">
                                <a
                                    target="_blank"
                                    href="https://drive.google.com/file/d/1K1jhYbkFRKXoH33GZLDU6ic_c9zk8eSP/view?usp=share_link"
                                    >Meet program</a
                                > for today's Last Chance Meet
                            </div>
                            <!-- Update 2 -->
                            <div class="text-sm">Sunday, May 14, 2023</div>
                            <div class="col-span-3 text-sm">
                                We have a big week this week: 1) TUESDAY IS TEAM
                                PICTURES !!! Make sure to bring your jersey to
                                practice. 2) Wednesday is the <a
                                    target="_blank"
                                    href="https://drive.google.com/file/d/1r9HLFs48IRBktSPCdOzoFIu9OdYPliO4/view?usp=share_link"
                                    >Last Chance Meet</a
                                > at Stillwater. 3) Friday is the <a
                                    target="_blank"
                                    href="https://drive.google.com/file/d/16XRwHiIj5CNovrILn4PTkusPlDaK8nY5/view?usp=share_link"
                                    >True Team AAA State Meet</a
                                > at Stillwater.
                            </div>
                        </div>
                    </div>
                </section>
                <div class="flex justify-center my-8">
                    <div
                        class="flex flex-col md:w-10/12 lg:w-8/12 xl:w-6/12 text-center text-lg md:text-xl items-center"
                        style={{ fontFamily: 'Quattrocento Sans' }}
                    >
                        <p class="flex">
                            Nike Cross Nationals (NXN): 2019 (19th), 2018 (17th)
                        </p><br />
                        <p class="flex">
                            Nike Cross Heartland Regional: 2022 (12th), 2021
                            (10th), 2019 (1st), 2018 (1st)
                        </p><br />
                        <p class="flex">
                            MSHSL XC: 2022 (5th), 2021 (3rd), 2019 (1st) 2018
                            (2nd), 2017 (5th), 2016 (4th), 2015 (9th), 2013
                            (6th), 2012 (15th), 2011 (14th), 2007 (14th), 2006
                            (7th), 2004 (9th), 2002 (10th), 2001 (15th), 2000
                            (6th), 1999 (2nd)
                        </p><br />
                        <p class="flex flex-row">
                            True Team State Champions: 1998, 1999, 2000, 2001,
                            2002, 2003, 2006, 2007
                        </p>
                        <p class="flex flex-row">
                            MSHSL Champions: 1999, 2000, 2001, 2006, 2007
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-center content-center m-4 transition ease-in-out"
                >
                    <Carousel client:visible />
                </div>
            </div>
            <div
                class="flex static bottom-0 right-0 left-0 w-screen justify-center p-1"
            >
                <img
                    src={Logo}
                    height="100"
                    width="100"
                    alt="MV Logo"
                    class="hidden lg:flex mb-8 max-h-24 self-center justify-self-center"
                />
            </div>

            <Taskbar client:load />
        </main>
    </body>
</html>
